---
---

<section class="especialidades">
    <h2 class="titulo">MIS <span>CLIENTES.</span></h2>
    <div class="interface">
        <div class="flex">
            <div class="especialidades-box">
                <img src="logo.svg" alt="logo" width="50px">
                <h3>Sabores de Venezuela</h3>
                <p class="parrafo">
                 2984-792639
                 calle Alem 510, Villa Regina.

                </p>
            </div>

            <div class="especialidades-box">
                <img src="bru.png" alt="logo" width="50px">
                <h3>La Bruna rosti</h3>
                <p class="parrafo">
                 0298 456-5849
                 Av. Belgrano 254, Villa Regina.
                </p>
            </div>

            <div class="especialidades-box">
                <img src="madis.png" alt="logo" width="50px">
                <h3>Madison resto</h3>
                <p class="parrafo">
                0298 476-1755
                9 de Julio 167, Villa Regina.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    section.especialidades{
        padding: 40px 5%;
    }

    section.especialidades .flex{
        gap: 50px;
    }

    h2.titulo{
        margin-top: 20px;
        color: #fff;
        font-size: 32px;
        text-align: center;
        justify-content: center;
    }

    h2.titulo span{
        color:#00ff08 ;
    }

    .especialidades .especialidades-box{
        display: inline-block;
        color: #fff;
        padding: 40px;
        border-radius: 20px;
        margin-top: 40px;
        transition: .2s;
    }

    .especialidades .especialidades-box:hover{
        transform: scale(1.05);
        box-shadow: 0 0 8px #00ff08;
    }

    .especialidades .especialidades-box h3{
        font-size: 26px;
        margin: 15px 0;
    }

    .parrafo p{
        color: #fff;
        margin: 10px 0;
        font-size: 16px;
        letter-spacing: .5px;
        text-align: justify;
    }

    
</style>