---
---

<section class="topo-do-site">
    <div class="interface">
        <div class="flex">
            <div class="txt-topo-site">
                <h1>Delivery, Carlos y Estela."El sabor
                     llega a tu puerta"<span>.</span></h1>
                <p>¿Antojo de comida deliciosa sin salir de casa? 
					¡No busques más! Nuestra página web de delivery de comida rápida 
					es tu boleto directo a la satisfacción gastronómica en la comodidad 
					de tu hogar. Con un click, tendrás acceso a una variedad de platos sabrosos, 
					desde Empanadas y tequeños hasta pizzas recién horneadas, entregadas directamente a tu puerta en tiempo récord. ¿Qué estás esperando?
					¡Haz tu pedido ahora y deja que la deliciosa aventura comience!</p>
                <div class="btn-contacto">
                    <a href="https://wa.me/542984689061?text=Hola quiero una consulta" target="_blank">
                        <button>LLama ya...</button>
                    </a>
                </div>
            </div>
            <div class="img-topo-site">
                <img src="hombre.png" alt="hombre">
            </div>
        </div>
    </div>
</section>

    <style>
	.interface{
		max-width: 1280px;
        display: flex;
        justify-content: center;
		margin: 0 auto;
	}

	.flex{
		display: flex;
	}

	section.topo-do-site{
		padding: 40px 15%;
	}

	section.topo-do-site .flex{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 80px;
	}

	.topo-do-site h1{
		color: #fff;
		font-size: 40px;
		line-height: 40px;
	}

	.topo-do-site .txt-topo-site h1 span{
		color: #00ff08;
	}

	.topo-do-site .txt-topo-site p{
		color: #fff;
		margin: 40px 0;
		font-size: 16px;
		letter-spacing: .5px;
		text-align: justify;
	}

	.img-topo-site img{
        width: 200rem;
    }

	.topo-do-site .img-topo-site img{
		position: relative;
		animation: fluctuar 2s ease-in-out infinite alternate;
	}

    .btn-contacto button{
		padding: 10px 40px;
		font-size: 18px;
		font-weight: 600;
		background-color: #00ff08;
		border: 0;
		border-radius: 30px;
		cursor: pointer;
		transition: .2s;
	}

	.btn-contacto button:hover{
		box-shadow: 0px 0px 8px #00ff0868;
		transform: scale(1.05);
	}


	@keyframes fluctuar{
		0%{
			top: 0;
		}
		100%{
			top:30px
		}
	}

</style>