---
---

<section class="sobre" id="sobremi">
    <h2 class="titulo">FARMACIA<span>.</span></h2>
    <div class="interface">
        <div class="flex">
            <div class="img-sobre">
                <img src="sobre.png" alt="sobremi" >
            </div>
            <div class="txt-sobre">
                <h2>Hacemos delivery, <span>en farmacia Italia.</span></h2>
                <p>Con la comodidad de nuestro servicio de entrega, ya no tendrás
                    que preocuparte por salir de casa cuando te sientas enfermo o
                    necesites surtir tus recetas médicas. 
                </p>
                <div class="btn-social">
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    h2.titulo{
        margin-top: 20px;
        padding: 40px;
        color: #fff;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    h2.titulo span{
        color: #00ff08;
    }

    section.sobre{
        padding: 40px 20%;
        margin-bottom: 30px;
    }

    section.sobre .flex{
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .sobre .txt-sobre{
        color: #fff;
    }

    .sobre .txt-sobre h2{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    
    .sobre .txt-sobre h2 span{
        color: #00ff08;
        display: block;
    }

    .sobre .txt-sobre p{
        margin: 30px 0;
        text-align: justify;
    }

    .img-sobre img{
        width: 900px;
    }

</style>


