---
---

<section class="sobre">
    <div class="interface">
        <div class="flex">
            <div class="img-sobre">
                <img src="sobre.png" alt="sobremi" >
            </div>
            <div class="txt-sobre">
                <h2>Hacemos delivery, <span>en farmacia Italia.</span></h2>
                <p>hacemos repartos de comida rapida, restaurantes,
                    y productos de farmacias.
                </p>
                <div class="btn-social">
                    <a href="#"><button></button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    section.sobre{
        padding: 40px 5%;
    }

    section.sobre .flex{
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .sobre .txt-sobre{
        color: #fff;
    }

    .sobre .txt-sobre h2{
        font-size: 38px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    
    .sobre .txt-sobre h2 span{
        color: #00ff08;
        display: block;
    }

    .sobre .txt-sobre p{
        margin: 20px 0;
        text-align: justify;
    }

</style>


